<!DOCTYPE html>
<html>
    <head>
        <h1>Error!</h1>
    </head>
    <body>
        <h1>Not a valid link.</h1>
    <br>
<div style="text-align:center;"><button type="button" onclick='window.location.replace("http://localhost:8000")'><p style="font-size:18px"><b>Try Again.</b></p></button></div>

    </body>
</html>

<style>
body {
  background: #282828;
  color: white
   }
h1 {
    text-align:center;
}
button:hover, button:active, a:hover, a:active {
  background-color: #484848;
}
button, a:link, a:visited {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
</style>